body {
    margin: 0;
    background: #E9E7E7;
}

h1, h2, h3, h4, h5 {
    font-family: 'Cardo', serif;
    font-weight: bold;
    margin: 0;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin: 0;
}

button {
    padding: 20px 57px;
    font-size: 21px;
    border: 3px solid rgba(35, 35, 35, 1);
    border-radius: 5px;
    font-weight: 900;
    background: rgba(35, 35, 35, 1);
    transition: all 0.2s;
    color: #fff;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    line-height: 16px;
}

button:hover {
    background: #E9E7E7;
    color: rgba(35, 35, 35, 1);
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    margin: 77px 131px 124px 112px;
    align-items: center;
}

/* nav-link */

.nav-link {
    width: 458px;
    display: flex;
    justify-content: space-between;
}

.nav-link a {
    text-decoration: none;
    font-size: 21px;
    color: #878789;
    width: 70px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.nav-link a:hover {
    font-weight: bold;
    color: rgba(35, 35, 35, 1);
}

/* home-page */

.home-page {
    display: flex;
    justify-content: space-between;
    margin: 0 131px 159px 112px;
    color: #232323;
}

.home-page img {
    height: 431px;
    width: 670px;
}

/* home-page-content */

.home-page-content h1 {
    font-size: 81px;
    width: 428px;
    height: 232px;
    line-height: 82px
}

.home-page-content p {
    font-size: 17px;
    width: 460px;
    height: 60px;
    margin-top: 34px;
    margin-bottom: 43px;
}

/* create-a-memory */

.create-a-memory {
    background: #232323;
    color: #fff;
    text-align: center;
    padding: 52px 0;
}

.create-a-memory h2 {
    font-size: 55px;
    width: 438px;
    height: 98px;
    line-height: 55px;
    text-align: center;
    margin: 0 auto;
}

.create-a-memory p {
    width: 448px;
    height: 56px;
    text-align: center;
    margin: 35px auto;
    
}

.create-a-memory button {
    border-color: #E9E7E7;
}

/* pictures */

.pictures {
    display: flex;
    justify-content: space-between;
    margin: 165px 100px 400px 100px;
}

.picture img {
    width: 396px;
    height: 270px;
}

.picture h2 {
    font-size: 37px;
    width: 231px;
    height: 63px;
    line-height: 37px;
    margin-bottom: 36px;
}

.picture p {
    font-size: 17px;
    width: 396px;
    height: 78px;
}

.line {
    width: 55px;
    height: 3px;
    background: RGBA(35, 35, 35, 1);
    margin: 28px 0;
}

/* see-places */

.see-places {
    text-align: center;
}

.see-places-title {
    margin-bottom: 270px;
    margin-top: 61px;
}

.see-places-title h2 {
    font-size: 97px;
    width: 777px;
    height: 199px;
    margin: 0 auto;
    line-height: 97px;
}

.see-places-title span {
    text-decoration: underline 5px;
    font-style: italic;
    text-underline-offset: 15px;
}

.see-places-title p {
    font-size: 25px;
    margin-top: 63px;
}

/* see-places-content */

.see-places-content {
    display: grid;
    grid-template-columns: 47% 19% 20%;
    grid-template-rows: 42% 51%;
    grid-gap: 6% 3%;
    padding: 0 115px;
}

.see-places-content h2 {
    font-size: 37px;
    width: 237px;
    height: 235px;
    text-align: left;
    text-decoration: underline 2px;
    text-underline-offset: 5px;
    text-decoration-skip-ink: none;
    grid-column: 2;
}

.see-places-content p {
    width: 335px;
    height: 182px;
    text-align: left;
    font-size: 17px;
}

#sp-content-letf-img {
    grid-row-start: 1;
    grid-row-end: 3;
    height: 775px;
}

#sp-content-right-img {
    height: 325px;
}

/* choose-anywhere */

.choose-anywhere {
    background: #232323;
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 155px 0 155px 120px;
}

.choose-anywhere-content h2 {
    font-size: 55px;
    width: 456px;
    line-height: 50px;
}

.description h3{
    width: 219px;
    font-size: 25px;
}

.description p {
    font-size: 17px;
    width: 477px;
    text-align: justify;
}

.up-description {
    margin-top: 110px;
    margin-bottom: 60px;
}

/* section-six */

.section-six {
    display: flex;
    justify-content: space-between;
    padding: 176px 113px 313px 113px;
}

.section-six img {
    height: 515px;
}

.section-six-content {
    width: 741px;
}

.section-six-content h2 {
    font-size: 81px;
    line-height: 81px;
    margin-bottom: 85px;
}

.subsection {
    display: flex;
    justify-content: space-between;
    border-top: 4px solid #232323;
    padding: 21px 43px;
    width: 655px;
}

.down-subsection {
    border-bottom: 4px solid #232323;
}

.subsection p {
    font-size: 17px;
}

.subsection img {
    height: 21px;
}

/* customers */

.customers {
    text-align: center;
    position: relative;
}

.customers h2 {
    font-size: 81px;
    width: 630px;
    height: 173px;
    text-align: center;
    margin: 0 auto;
    line-height: 81px;
    margin-bottom: 46px;
}
 
/* btns-slider */

.btns-slider {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 28%;
    left: 5%;
    width: 90%;
}

.arrow-left {
    cursor: pointer;
    width: 22px;
    height: 22px;
    border-left: 4px solid #000;
    border-top: 4px solid #000;
    transform: rotate(-45deg);
    margin-left: 26px;
}
.arrow-left div {
    width: 38px;
    height: 3px;
    background: #000;
    transform: rotate(45deg);
    margin-top: 11px;
    margin-left: -6px;
}

.arrow-right {
    cursor: pointer;
    width: 22px;
    height: 22px;
    border-right: 4px solid #000;
    border-bottom: 4px solid #000;
    transform: rotate(-45deg);
    margin: 0 auto;
}
.arrow-right div {
    width: 38px;
    height: 3px;
    background: #000;
    transform: rotate(45deg);
    margin-top: 9px;
    margin-left: -9px;
}

.btn-slider {
    width: 82px;
    height: 72px;
    border: 3px solid #000;
    display: flex;
    align-items: center;
    border-radius: 15px;
    background: #E9E7E7;
}

/* customer */

.slider {
    display: flex;
    justify-content: space-between;
    padding: 0 113px;
    margin-bottom: 198px;
}

.customer {
    border: 3px solid RGBA(35, 35, 35, 1);
    width: 388px;
    height: 347px;
    padding-top: 76px;
    border-radius: 15px;
}

.customer img {
    width: 135px;
}

.customer h3 {
    font-size: 25px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-top: 50px;
    margin-bottom: 24px;
}

.customer p {
    color: #6D6D6D;
    font-size: 16px;
    text-align: justify;
    width: 327px;
    margin: 0 auto;
}

.customer p span {
    margin-left: calc(50% - 142px);
}